{{#ember-wormhole to="left-panel" }}


<div class="content-block">
  <div class="ma">
    <img src="http://diy.qqjay.com/u/files/2012/0209/2f45e7e0d06a69a974949c0872a5ec5a.jpg" alt="" class="">
  </div>

  <div class="list-block">
  <ul>
    <li class="swipeout">
      <div class="swipeout-content item-content">
        <div class="item-media"><i class="icon iconfont icon-yonghu"></i></div>
        <div class="item-inner">张建军</div>
      </div>
      <div class="swipeout-actions-right">
        <a href="#" class="action1">Action 1</a>
      </div>
    </li>
    <li class="swipeout">
      <div class="swipeout-content item-content">
        <div class="item-media"><i class="icon iconfont icon-email"></i></div>
        <div class="item-inner">179817004@qq.com</div>
      </div>
      <div class="swipeout-actions-right">
        <a href="#" class="action1 bg-orange">Action 1</a>
        <a href="#" class="action2">Action 2</a>
      </div>
    </li>
  </ul>
  <p><a class="button button-big open-login-screen">登陆</a></p>
</div>
</div>
{{/ember-wormhole}}
