<div class="page" data-page="app-index">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left">用户</div>
      <div class="center">{{addr}}</div>
      <div class="right">消息</div>
    </div>
  </div>
  <div class="page-content">
    {{bd-map address=addr}}
  </div>
</div>
