<div class="popup popup-protocol show-protocol">
  <div class="content-block">
    {{position.coords.latitude}} + {{position.coords.longitude}}
    {{yield}}
  <a class="close-popup" data-popup=".show-protocol">关闭</a>
  </div>
</div>
