<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a class="open-panel link icon-only" data-panel="left"><i class="iconfont icon-yonghu"></i></a></div>
    <div class="center">{{addr}}</div>
    <div class="right"><a class="link icon-only"> <i class="iconfont icon-xiaoxi"></i></a></div>
  </div>
</div>
{{yield}}
